{% extends 'layout.html' %}


{% block content %}
{% autoescape off %}
<div id="box" class="container" style="width: 100%;max-width: 100%;text-overflow: unset; overflow-wrap: break-word;">
    <header>
        <div class="scroll">
            <div id="thumb"></div>
        </div>
        <div class="btn-group" role="group" style="width: 100%;overflow: auto;">
            <button type="button" class="btn btn-warning" id="fulls" onclick="viewMeth.fullscreen()"><span class="material-icons">
                    fullscreen
                </span></button>
            <button type="button" class="btn btn-primary">
            <div class="fb-share-button" data-href="http://www.ict24.tk/view?id={{id}}" data-layout="button_count"
                    data-size="small"><a target="_blank"
                        href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2F&amp;src=sdkpreparse"
                        class="fb-xfbml-parse-ignore">Share</a></div>
            </button>
            <button type="button" class="btn btn-primary">
            <div class="fb-save" data-uri="http://www.ict24.tk" data-size="small"></div>
            </button>
            
            <button type="button" class="btn btn-primary"><span class="material-icons">
                <div class="fb-like" data-href="http://www.ict24.tk/view?id ={{id}}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="false"></div>
            </button>
            <button type="button" class="btn btn-secondary" onclick="viewMeth.printE()"><span class="material-icons">
                local_printshop
            </span></button>
        </div>

    </header>




    {{data}}






</div>
{% endautoescape %}
<div class="fb-comments" data-colorscheme="dark" data-href="http://www.ict24.tk/view?id ={{id}}" data-width="60%" data-numposts="2">
</div>
<meta property="fb:admins" content="{https://www.facebook.com/anuradha.dilshan.7}"/> 





<div id="fb-root">Root</div>
<script async defer crossorigin="anonymous" src=".js#xfbml=1&version=v6.0"></script>
{% endblock content %}
